name: 'CI/CD Pipeline'
on:
  push:
    branches:
      - main
      - develop
      - master

jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: list files
        run: ls
      - name: step2
        run: echo "This is step 2"
  
  call-reusable-workflow:
    needs: build
    uses: ./.github/workflows/reusable_workflow.yml