name: 'CI/CD Pipeline'
on:
  push:
    branches:
      - main
      - develop
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: list files
        run: ls
      - name: step2
        run: echo "This is step 2"