name: 'CI/CD Pipeline'
on:
  push:
    branches:
      - main
      - develop
      - master

jobs:
  build:
  strategy:
    matrix:
      os: [ubuntu-latest, windows-latest, macos-latest]
  runs-on: ${{ matrix.os }}
  steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: list files
        run: ls
      - name: step2
        run: echo "This is step 2"